.button-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ReactModal__Content{
  background: white;
}

.ReactModal__Content .personal-information-box .row .button-box{
  visibility: hidden;
}
.ReactModal__Content button{
  border: 1px solid black;
  margin: auto;
}

.cancel-button{
  background-image: url('../assets/cancel_50px.png');
}

.delete-button{
  background-image: url('../assets/delete_icon_32px.png');
}

.add-button{
  background-image: url('../assets/plus_math_50px.png');
}

.upgrade-button{
  background-image: url('../assets/double_up_50px.png');
}

.disable-button{
  background-image: url('../assets/unavailable_32px.png');
}

.default-item{
  text-align: center;
  font-style: italic;
}

.form{
  padding: 10px;
  margin-right: 15px;
}

.form button {
  margin: 0px auto 0px auto;
}

.form div {
  padding: 2px;
}

.hierarchy-container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.flex-in-line{
  display: inline;
}

.level-information{
  width: 70%;
  padding: 10px;
}

.list-box{
  padding: 10px;
  align-items: center;
}

.item-box{
    padding: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
}

.item-box:hover{
    background-color: #f2f2f2;
    cursor: pointer;
}

.list-box .item-box:hover .button-box{
    visibility: visible;
}

.list-box .item-box .button-box{
    position: relative;
    display: inline;
    visibility: hidden;
    right: 2px;
}

.row .button-box{
    padding: 10px;
    width: 100px;
    margin-right: auto;
    margin-left: 15px;
}

.row .button-box .small-button{
    float: none;
}

.row{
    display: flex;
}

.column{
    padding: 10px;
    width: 50%;
}

.save-button{
  background-image: url('../assets/save_as_80px.png');
}

.small-button{
    float: right;
    height: 28px;
    width: 28px;
    background-size: 26px 26px;
    background-position: center;
}

.edit-button{
  background-image: url('../assets/edit_property_26px.png');
  background-size: 24px 24px;
}

.item-hierarchy-box.item-box.contracted .button-box,
.item-hierarchy-box.item-box .button-box{
  position: relative;
  float: right;
  right: 5px;
}
