button {
  border: none;
}

.expand-image{
  display: block;
  background: url('../assets/forward_50px.png') no-repeat;
  background-position: center;
  width: 30px;
  height: 24px;
  transition: all 1s;
}

.expand-image.expanded{
  transform: rotate(90deg);
}

.hierarchy-tree{
  width: 400px;
  max-width: 400;
  height: 600px;
  padding: 10px;
  border-right: 1px solid #e0e0e0;
}

.item-container {
  overflow: hidden;
}

.item-container-box {
  max-height: 0;
  z-index: -1;
  transform: translateY(-100%);
  transition: all 1s ease-out;
  overflow:hidden;
  position:relative;
}

.item-container-box.expanded {
  max-height: none;
  z-index: 1;
  transform: translateY(0%);
  transition: all 1s ease-in-out;
}

.item-hierarchy-box{
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.label-box{
  display: flex;
  align-items: center;
  position: relative;
  left: 0px;
}

.label-box:hover{
  text-decoration: underline;
  cursor: pointer;
}

.pair-order{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}