* {
    background-repeat: no-repeat;
    font-size: 18px;
    font: 16px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

*,:before,:after {
  box-sizing: border-box;
}

textarea {
  width: 100%;
  resize: none;
}

button {
  padding: 2px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

button:hover{
  border: 1px solid #cccccc;
}

button[disabled]{
    cursor: auto;
    border: none;
    background-color: #cccccc;
    color: #666666;
}

div {
    display: block;
}

h4 {
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 10px 10px 10px; 
} 
 
h4 span { 
    background:#fff; 
    padding:0 10px; 
}

input{
    padding: 5px;
    width: 100%;
}

input:read-only, textarea:read-only {
    border: none;
    outline: none;
}

label{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
}

ol, ul{
    list-style: none;
    display: list-item;
    white-space: nowrap;
    overflow-x:hidden;
    overflow-y: hidden;
    padding-inline-start: 25px;
}

.label-box{
  display: flex;
  align-items: center;
  position: relative;
  left: 0px;
}

.label-box:hover{
  text-decoration: underline;
  cursor: pointer;
}

.button-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ReactModal__Content{
  background: white;
}

.ReactModal__Content .personal-information-box .row .button-box{
  visibility: hidden;
}
.ReactModal__Content button{
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

.cancel-button{
  background-image: url('../assets/cancel_50px.png');
}

.delete-button{
    background-image: url('../assets/delete_icon_32px.png');
}

.add-button{
    background-image: url('../assets/plus_math_50px.png');
}

.upgrade-button{
  background-image: url('../assets/double_up_50px.png');
}

.disable-button{
  background-image: url('../assets/unavailable_32px.png');
}

.invert{
  transition: transform 0s;
  transform: rotate(180deg);
}

.expand-image{
  display: block;
    background: url('../assets/forward_50px.png') no-repeat;
    background-position: center;
    width: 30px;
    height: 24px;
}

.expand-image.expanded::before{
  transform: rotate(90);
}

.expand-image.expanded::after{
  transform: rotate(-90);
}

.default-item{
  text-align: center;
  font-style: italic;
}

.form{
    padding: 5px;
    margin-left: auto;
    margin-right: 15px;
}

.form button {
    margin: 0px auto 0px auto;
}

.form div {
    padding: 2px;
}

.hierarchy-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.hierarchy-tree{
    width: 400px;
    height: 600px;
    padding: 10px;
    border: 1px solid #000000;
}

.flex-in-line{
  display: inline;
}

.item-hierarchy-box{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.pair-order{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.level-information{
    width: 70%;
    padding: 10px;
}

.list-box{
    padding: 10px;
    align-items: center;
}

.item-box{
    padding: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
}

.item-box:hover{
    background-color: #f2f2f2;
    cursor: pointer;
}

.list-box .item-box:hover .button-box{
    visibility: visible;
}

.list-box .item-box .button-box{
    position: relative;
    display: inline;
    visibility: hidden;
    right: 2px;
}

.row .button-box{
    padding: 10px;
    width: 100px;
    margin-right: auto;
    margin-left: 15px;
}

.row .button-box .small-button{
    float: none;
}

.row{
    display: flex;
}

.column{
    padding: 10px;
    width: 50%;
}

.save-button{
  background-image: url('../assets/save_as_80px.png');
}

.small-button{
    float: right;
    height: 28px;
    width: 28px;
    background-size: 26px 26px;
    background-position: center;
}

.edit-button{
  background-image: url('../assets/edit_property_26px.png');
  background-size: 24px 24px;
}

.item-hierarchy-box.item-box.contracted .button-box,
.item-hierarchy-box.item-box .button-box{
  position: relative;
  float: right;
  right: 5px;
}

.item-hierarchy-box.item-box.expanded .expand-image{
  transition: transform 1s; 
  transform: rotate(90deg);
}

.item-hierarchy-box.item-box.expanded:active .expand-image{ 
  transform: rotate(-90deg);
}

.item-hierarchy-box.item-box:active .expand-image{
  transition: transform 1s; 
  transform: rotate(90deg);
}

.item-hierarchy-box.item-box .expand-image{
  transition: transform 1s; 
}
