ol, ul {
  margin: 0 auto;
}

li {
  height: 100%;
  display: inline-block;
  overflow: hidden;
}

.add-news {
  background-image: url('../assets/add_to_clipboard_24px.png');
}

.add-ccg {
  background-image: url('../assets/new_message_30px.png');
}

.sign-out {
  background-image: url('../assets/export_32px.png');
}

.attrative-button {
  transition: ease all 1s;
  overflow: hidden;
  padding: 2px 5px;
  margin: auto 10px;
  border: 1px solid #f0f0f0;
  background-position: top 50% left 5px;
  background-size: 25px;
  text-indent: 34px;
  font: inherit;
}

@media (max-width:780px){
  .attrative-button {
    width: 40px;
  }
}

.container {
  padding-top: 50px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #f0f0f070;
  font: 100 24px/1.5 Interstate,Lucida Grande,Arial,sans-serif;
}

.navbar {
  display: flex;
  height: 100%;
  border: 1px solid #f0f0f0;
}

.navbar-item {
  padding: 0 10px;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.right-navbar {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}